{% extends 'tasks/base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Tareas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tarea</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_task' %}" class="btn btn-primary">Agregar Tarea</a>
{% endblock %}